
body, ul {
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  

  .logo {
    
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    margin-left: 50%;
    padding: 10px;
    
  }
 

  li {
    margin-right: 40px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  a:hover {
    background-color: #333;
    color: #fff;
  }

 

  
  .txt_pgInicial {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    height: 300px;
    width: 400px;

  }

  .txt_pgInicial_aws {
    position: absolute;
    top: 90%;
    left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: rgb(255, 255, 255);
    height: 300px;
    width: 400px;

  }
  .img_escola{
    position: absolute;
    top: 35%;
    left: 70%;
    border-radius: 50cm;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
  width: 150px;
  height: 150px;

  }

  .img_aws{
    position: absolute;
    top: 79%;
    border-radius: 50cm;
    left: 70%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    width: 150px;
   height: 150px;

  }

  .img_cv_gabriel{
    position: absolute;
    top: 70%;
    left: 70%;
  border-radius: 50cm;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    width: 250px;
    height: 250px;

  }
  

  .txt_cv_gabriel {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    height: 300px;
    width: 500px;

  }

  .txt_cv_flavia {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    height: 300px;
    width: 500px;

  }

  .txt_cv_jean {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    height: 300px;
    width: 400px;

  }

  .txt_cv_elias {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    height: 300px;
    width: 300px;

  }

  .txt_cv_eric {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    height: 300px;
    width: 500px;

  }